*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* Clearfix
============================================================ */
clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
/* html/body Styling
==============================================================*/

body{
    color: hsl(67, 10%, 36%);
}
html,body{
    height: 100%;
}

/* Grid
===============================================================*/
.col-container{
    width: 100%;
}
/*There are three columns in the header section, they contain back button, app title and
Menu Navigation button. */

.col-2{
    float: left;
    width: 70%;
    padding-top: 6px;
}
.col-2:last-child{
    width: 30%; /* 100% - 70% = 30%*/
    padding-right: 5%;
}

.col-3{
    float: left;
    width: 100%;
}

.col-3.vertical-alignment{
    position: static;
    top: 0px;
    transform: translateY(0%);
}
@media screen and (min-width: 800px){
    .col-3{
        float:left;
        width:45%;
        padding-left: 5px;
    }
    .col-3:nth-child(2){
        width:10%;
    }
    .col-3.vertical-alignment{
        position: relative;
        top:50%;
        transform: translateY(50%);
    }
    
    header p{
        height: 30px;
        padding-top: 9px;
    }
}

/* Common Form inputs/labels styles
===============================================================*/
label,input{
    display: block;
    width: 60%;
    max-width: 240px; 
}

input{
    border: 0px;
    height: 30px;
    background-color: hsl(70, 22%, 40%);
    color: #F3EFE0;
}

input[type="text"],
input[type="password"]{
    color: hsl(67, 10%, 36%);
    background-color: hsl(69, 46%, 82%);
    border: 1px solid hsl(67, 10%, 36%);
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active{
    outline-color: hsl(67, 10%, 36%);
    outline-width: 4px;
}

form[name="signup-form"],
form[name="cancel-form"]{
    max-width: 240px;
    margin: 0 auto;    
}

.mandatory{
 color: red;   
}

.vertical-spacing{
    margin-bottom: 20px;
}

/* Header
===============================================================*/
header{
    background-color: hsl(67, 10%, 36%);
    position:fixed;
    width: 100%;
    top: 0;    
    height: 90px;
    z-index: 10;
}

header form input[type="submit"],
footer form input[type="submit"]{
    color: hsl(67, 10%, 36%);
    background-color: hsl(69, 11%, 67%);
    width: 100%;
}

header p,
header h1{
    text-align: center;
    color: hsl(69, 46%, 82%);
}

.vertical-alignment{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/* Main Section/ Sign-up Section
===============================================================*/
#messages-section,
#signup-section{
    position: absolute;
    top:90px;
    background-color: hsl(69, 46%, 82%);
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
}

ul li{
    padding: 1% 5%;
}

#signup-welcome-msg{
    padding-top: 10px;
    text-align: center;
}

.signup-text-wrapper{
    max-width: 240px;
    margin: 0 auto;    
}

#mandatory-msg{
    color:red;
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 15px;
        
}

#signup-error-msg{
    color:red;
}
/* Footer
===============================================================*/
footer{
    background-color: hsl(67, 10%, 36%);
    position:fixed;
    width: 100%;
    bottom: 0;
    height: 90px;
    z-index: 10;
}

footer form input[type="text"]{
    width: 90%;
    max-width: 90%;
    margin-left: 5%;
    
}

footer form input[type="text"]:focus,
footer form input[type="text"]:active{
        outline-color: hsl(60, 96%, 65%);;
}